.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;

}
.wrapper a{
    padding: 11px 15px;
    background-color: blue;
    color: aliceblue;
    border-radius: 5px;
    border: none;
    text-decoration: none;
}